<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tesis Admin</title>
</head>

<body>
    <ul> </ul>
    <a href="{% url 'lista_term' %}">
        <li>Lista Term</li>
    </a>
    <a href="{% url 'lista_status_propuesta' %}">
        <li>Lista Status de Propuesta</li>
    </a>
    <a href="{% url 'lista_status_tg' %}">
        <li>Lista Status de TG</li>
    </a>
    <a href="{% url 'lista_tipo_persona' %}">
        <li>Lista Tipos de Persona</li>
    </a>
    <a href="{% url 'lista_persona' %}">
        <li>Lista de Personas</li>
    </a>
    <a href="{% url 'lista_propuesta' %}">
        <li>Lista de Propuestas</li>
    </a>
    <a href="{% url 'lista_tg' %}">
        <li>Lista de Trabajos de Grado</li>
    </a>
    <a href="{% url 'lista_defensa' %}">
        <li>Lista de eEfensas</li>
    </a>
</body>

</html>