<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Status de TG</title>
</head>

<body>
    <ul>
        {% for status_tg in status_tg %}
        <a href="{% url 'modificar_status_tg' status_tg.id %}">
            <li>{{ status_tg.STATUS_TG }}</li>
        </a>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_status_tg' %}">Crear/Modificar</a>
</body>

</html>